@font-face{
  font-family: 'poker';
  src :url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'poker';
    background-color: #343333;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    }

#tracker {
  margin-top: 50px;
  overflow-y: auto;
  max-height: unset;
}
  
.player {
  width: 30%;
  display: inline-block;
  margin: 20px;
  padding: 15px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: #2c2c2c;
  min-width: 100px;
  font-family: 'poker';
}
  
.blind {
  border-color: gold;
  box-shadow: 0 0 10px gold, 0 0 20px gold;
  transition: box-shadow 0.3s ease;
}

.smallBlind {
  border-color: silver;
  box-shadow: 0 0 10px silver, 0 0 20px silver;
  transition: box-shadow 0.3s ease;
}

.bbClass{
  color: gold;
}

.sbClass{
  color: silver;
}

.profile-pic{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
 
#controls{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

#pot {
  font-family: 'poker';
  font-size: 40px;
  padding: 10px 20px;
  background-color: #d81717;
  color: white;
  border: none;
  text-align: center;
  margin-top: 50px;
}

#controls button{
  font-family: 'poker';
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  flex: 1 1 45%; 
}

#controls #winButton{
  background-color: #343333;
  color: gold;
  border: 2px solid gold;
}

#controls #addButton{
  background-color: #343333;
  color: rgb(157, 76, 195);
  border: 2px solid rgb(157, 76, 195);
}

#controls #startBetsButton{
  background-color: #343333;
  color: rgb(23, 203, 188);
  border: 2px solid rgb(23, 203, 188);
}

#controls #startRoundButton{
  background-color: #343333;
  color:  #4caf50;
  border: 2px solid  #4caf50;
}

#controls #changeBlindsButton{
  background-color: #343333;
  color: rgb(193, 88, 88);
  border: 2px solid rgb(193, 88, 88);
}

